
#kesve_indulo_vonat {
    background-color: rgb(189, 54, 189);
}


tbody tr:nth-child(even) {              
    background-color: blue;
}thead tr:nth-child(even) {
    background-color: blue;
}tbody tr:nth-child(odd) {
    background-color: red;
}thead tr:nth-child(odd) {
    background-color: red;
}