#ejlec1 {
    border: 3px solid;
    background-color: rgb(255, 0, 0);
    color: blanchedalmond;
    /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    /* betűstílus  */
    font-size: 22px;
    /* betűméret */
}

#ejlec2 {
    border: 3px solid;
    background-color: rgba(255, 1, 242, 0.986);
    color: blanchedalmond;
    /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    /* betűstílus  */
    font-size: 22px;
    /* betűméret */
}

#egjott {
    background-color: green;
}

#kesve_indulo_vonat {
    background-color: rgb(189, 54, 189);
}


tbody tr:nth-child(even) {              
    background-color: blue;
}thead tr:nth-child(even) {
    background-color: blue;
}tbody tr:nth-child(odd) {
    background-color: red;
}thead tr:nth-child(odd) {
    background-color: red;
}